
/* Si quisieramos que afecte a mas selectores se añade una coma y otro selector
 */
 /* tal que asi h1, p  */
h1 {
    color: red;
    text-align: center;
}

div {
    color: yellow;
    background-color: teal;
}

span {
    background-color: tomato;
}