
/* Selectores por clase van con un punto delante */


.warning {
    background-color: orange;
}

.error {
    background-color: red;
}

.border {
    border-radius: 8px;
}
/* Esto es un selector de id va con un # delante y en el html id="Nombrerandom" */
#principal {
    text-align: center;
}
/* Selector por atributos, va entre corchetes rectos tambien se puede incluir el contenido del atributo por ejemplo el link al enlace */
[href]{
    color: red;
}

/* ejemplos varios [href="paginarandom"] */

/* esto es un pseudo selector, hay varios pero uno de ellos es hover que es cuando pasas el raton por encima, la forma de tipearlo seria :hover  */

div:hover {
    background-color: yellow;
}

a:hover {
    background-color: green;
}
/* Pseudo elemento, sirve para aplicar un estilo a algo muy concreto en este caso la primera letra de los elementos p  */
p::first-letter {
    color: tomato;
    font-size: 30px;
}