
body {  
    background-color:rgba(0, 0, 0, 0.87);
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 900px;
    text-align: center;
}

span {
    background-color: white;
    display: inline-block;
    height: 1px;
    width: 70px;
}

.separadorfooter {
    background-color: white;
    display: inline-block;
    height: 1px;
    width: 750px;
}

div {
    text-align: center;
}

.align {
    padding: 20px;
}

.formulario input {
    border: none;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    width: 700px;
}

.mensaje input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 700px;
    
}


textarea {
    border: none;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: relative;
    right: -8px;
    top: -60px;
    width: 700px;
}

#politica {
    color: white;
}

#boton {

    background-color: rgb(1, 120, 255);
    border: 0;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 20px 339px;
}

#box {
    border: none;
    cursor: pointer;
}

.box {
    position: relative;
    right: 221px;
}

footer {
    letter-spacing: 5px;
    padding: 50px;
}

img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.formulario input:focus {
    outline: 0;
}

textarea:focus {
    outline: 0;
}

/* Ojo a esta locura para cambiar el checkbox */
/* input[type=checkbox]::before {
    content: "logo sin check" } */

/* input[type=checkbox]:checked::before {
    content: "logo con check";
    color: white;
}

input[type=checkbox] {
    opacity: 50;
} */