
body {
    
    background-color:rgba(0, 0, 0, 0.87);
    height: 900px;
    border: 100px white solid;
    
}

header {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

span {
    display: inline-block;
    height: 1px;
    width: 40px;
    background-color: white;
}

div {
    text-align: center;
}


.separador {
    height: 0.1px;
    width: 500px;
    background-color: white;
}


.align {
    text-align: center;
    color: white;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.formulario input {
    border: none;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    width: 400px;
}
.mensaje input {
    border: none;
    /* border-bottom: 1px solid white; */
    background-color: rgba(0, 0, 0, 0);
    width: 400px;
}

img {
    color: white;
    background-color: white;
    
}

textarea {
    border: none;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    width: 400px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#politica {
    color: white;
    position: inherit;
}

#boton {

    color: white;
    background-color: rgb(1, 120, 255);
    border: 0;
    font-weight: bold;
    padding: 20px 250px;
    cursor: pointer;
    
}

#box {
    border: none;
    cursor: pointer;
  }

  footer {
      text-align: center;
      padding: 50px;
      letter-spacing: 5px;
  }