


header {S
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    font-family: 'Times New Roman', Times, serif;
}

img {
    filter: contrast(1.8) brightness(1.5) grayscale(1);
}

main {
        text-align: center;
    }

    p {
        margin-left: 200px;
        margin-right: 200px;
    }






