

header {
    height: 64px;
    background-color: purple;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#principal {
    background-color: pink;
    height: 300px;
    flex: 0 0 100%;
}

#secundario1 {
    background-color: rgb(255, 6, 255);
    height: 300px;
    flex: 0 0 100%;
    border: 1px solid black;
}

#secundario2 {
    background-color: rgb(255, 6, 255);
    height: 300px;
    flex: 0 0 100%;
    border: 1px solid black;
}

footer {
    background-color: purple;
    height: 100px;
    display: none;
}

@media (min-width: 600px) {
    #secundario1 {   
        flex: 1 0 40%;  
    }

    #secundario2 {  
        flex: 1 0 40%;
    }
}

@media (min-width: 900px) {

    #principal {
        flex: 1 0 auto;

    }

    #secundario1 {
        flex: 0 0 25%;
        order: -1;
    }

    #secundario2 {
        flex: 0 0 25%;
    }

    footer {
        display: block;
        flex: 0 0 100%;
    }
}